body{
    height:100;
    margin: 0;
    font-family: Helvetica;
}

footer{
    padding-right: 1%;
    text-align:right;
}

.jssorb21 {
	position: absolute;
}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
position: absolute;
width: 19px;
height: 19px;
text-align: center;
line-height: 19px;
color: white;
font-size: 12px;
background: url(../b21.png) no-repeat;
overflow: hidden;
cursor: pointer;
}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }

.slider_container{
	position:relative;
	width:480px;
    height:270px;
    border: 1px solid gray;
    border-radius: 1%;
}

.slides{
	position:relative;
	cursor: move;
	width:100%;
    height:100%;
    overflow: hidden;
}

.page-background{
	 width:100%;
	 background: url(../background.jpg);
}

.view-table{
	position:relative;
	width:36%;
	margin:0.5%;
	border-radius:0.5%;
    background-clip: content-box;
    background: linear-gradient(to bottom right, #6395A6, #D9D9D9);
    padding:0.9%;
}

.desc-table{
	position:relative;
	width:36%;
	margin-top:0.6em;
	border-radius: 0.5%;
    background-clip: content-box;
    background: linear-gradient(to bottom right, #6395A6, #D9D9D9);
    padding: 1%;
}

.reg-table{
	text-align:center;
	width:80%;
	margin:auto;
    border-radius: 0.6%;
    background-clip: content-box;
    background: linear-gradient(to bottom right, #6395A6, #D9D9D9);
    padding: 1em;
}

.auction-name{
	text-align:center; 
	font-family: "Georgia";
	font-weight: bold;
	font-size: 130%;
}

.menubar{
    //background-color: #f5f5f5;
    background-color: white;
    color: black;
    text-align: right;
    width: 100%;
    padding-top: 0.2%;
    padding-bottom: 0.2%;
    padding-right: 1%;
    font-size: 15px;
    border-bottom: 1px solid grey;
}

.menubar a, .link1{
    color: orange;
    font-family: serif;
    padding-right: 1.0%;
    padding-left: 1.0%;
    padding-top: 0.5%;
    padding-bottom: 0.4%;
    text-decoration: none;
    cursor: pointer;
}

.link1{
	background-color: white;
}

.Gtext{
	font-family: "Georgia";
	font-weight: bold;
	font-size: 200%;
}

.Gtext-small{
	text-align:center;
	font-family: "Georgia";
	font-weight: bold;
	font-size: 80%;
}

.big-logo-center{
	width:15%;
	height:250%;
	display: block;
    margin: auto;
    cursor: pointer;
}

.tiny-logo-left{
	width:5.5%;
	height:70%;
	right:4%;
	position:relative;
	vertical-align: middle;
}

.small-logo-left{
	width:8%;
	height:90%;
    vertical-align: middle;

}

.menubar a:hover, .link1:hover{
    border-bottom: 3px solid orange;
}

.menubar a:visited, .link1:visited{
    text-decoration: none;
}

#map{
	margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
	background-color: grey;
}

#view-map{
	position:relative;
	margin:0.6em;
    width:480px;
    height:300px;
	background-color: grey;
}


#search{
    text-align: center;
    padding: 20px;
    color: white;
    background: linear-gradient(to bottom right, #6395A6, #D9D9D9);
}

#uni-search{
    text-align: center;
    color: white;
    background: linear-gradient(to bottom right, #6395A6, #D9D9D9);
    padding-top: 1%;
    padding-bottom: 0.6%;
}

.txtbtncontainer{
    display: inline-block;
    border-radius: 0.1em;
    height: 50%;
    width: 80%;
}

.small-txtbtncontainer{
    display: inline-block;
    border-radius: 0.1em;
    height: 40%;
    width: 80%;
}

.textbox-search:hover{
    box-shadow: 0px 0px 10px orange;
}

.textbox-search{
    height:100%;
    border: 0;
    border-radius: 0.25em;
    background-color: white;
    font-size: 140%;
    outline: none;
    width: 65%;
}

.textbox-register{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.bid-input{
	width:50%;
	padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.select-search{
	text-align: center;
	appearance: none;
    background-color: white;
    border-radius: 5px;
    border: 0;
    height: 100%;
    width: 20%;
    float: right;
    outline: none;
    color: orange;
    border-left: 0.1px solid grey;
    font-weight: bold;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}

.select-search:hover{
    box-shadow: 0px 0px 10px orange;
}

.button-search{
    color: white;
    background-color: orange;
    border: 0;
    border-radius: 5px;
    height: 100%;
    width: 15%;
    float: right;
}

.button-register {
    width: 50%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#username_check_button{
	margin-left:0.5%;
	vertical-align:middle;
  	background-color: orange;
    color: white;
    padding:0.7% 0.9%;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

#orange_button{
  	background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#pop-up-message{
	font-family: "Georgia";
	color:red;
}

#success-message{
	font-family: "Georgia";
	font-weight: bold;
	color:green;
	position:relative;
	left:5%;
}

.button-search:hover{
    background-color: #ee7300
}

.user-table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.user-table tr{
	border: solid;
	border-width: 1px 0;
	height: 10px;
}

.user-table tr:hover{
	background-color: orange;
	color: white;
}

.user-table tr:first-child {
  border-top: none;
}

.big-image-frame{
	
}

.link2, .link2:visited{
	color: orange;
	text-decoration: none;
}

.link2:hover{
	color: orange;
	text-decoration: underline;
}


.search-table {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}